// /* === Paletas de Colores === */
$colorFondo: #f7f7f7;
$colorFondoSecundario: #fff;
$colorBoton: #4caf50;
$colorBotonHover: #50bb54;
$colorTestimonio: #007bff;
$colorTexto: #000;
$colorTextoBotones: #fff;
$colorBorde: #ddd;
$colorFooterBorde: #000;
$colorBordeCards: #000;

// /* === Tipografía === */
$fuentePrincipal: "Nunito", sans-serif;

// /* === Bordes y radios === */
$radioBtn: 10px;
$radioCard: 5px;

// /* === Tamaños === */
$anchoMaximo: 1200px;
$anchoImg: 250px;
